.hero-section {
    font-size: 3rem;
    font-weight: 600;
    margin-block-end: rem(80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 80px);

    p {
        margin-block: 1rem;
        font-size: 4rem;

    }


    img {
        border: 2px solid #6190ff;
        padding: 1rem;
        width: 380px;
        border-radius: 3rem;
    }
}