@font-face {
    font-family: PoppinsRegular;
    src: url(../../fonts/Poppins-Regular.ttf);
    // src: url(../../../../dist/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../../fonts/Poppins-Medium.ttf);
    // src: url(../../../../dist/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../../fonts/Poppins-Bold.ttf);
    // src: url(../../../../dist/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(../../fonts/Poppins-Light.ttf);
    // src: url(../../../../dist/fonts/Poppins-Light.ttf);
}