@font-face {
    font-family: PoppinsRegular;
    // src: url(../../../../public/fonts/Poppins-Regular.ttf);
    src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    // src: url(../../../../public/fonts/Poppins-Medium.ttf);
    src: url(../../fonts/Poppins-Medium.ttf);

}

@font-face {
    font-family: PoppinsBold;
    // src: url(../../../../public/fonts/Poppins-Bold.ttf);
    src: url(../../fonts/Poppins-Bold.ttf);

}

@font-face {
    font-family: PoppinsLight;
    // src: url(../../../../public/fonts/Poppins-Light.ttf);
    src: url(../../fonts/Poppins-Light.ttf);

}